<style>
  p {
    display: flex;
    justify-content: center;
  }
</style>
<p>
  <img
    src="https://counter1.optistats.ovh/private/freecounterstat.php?c=gcw6rb282mu9kkk6sqhk1essknwymaq2"
    title="web counter"
    alt="web counter"
  />
</p>
