---
import '../styles.css'
import Header from '../components/header.astro'
import Player from '../components/new-player.astro'
import { ClientRouter } from 'astro:transitions'
import RootLayout from './root-layout.astro'
const { title } = Astro.props
---

<RootLayout title={title}>
  <Header />
  <Player />
  <main class="column">
    <slot />
  </main>
  <ClientRouter />
</RootLayout>
