---
import AdminLayout from '../../layouts/admin-layout.astro'
import { getCalendarEvents } from '../../lib/google/calendar-events'
import { formatDate, formatTimeRange } from '../../utils'
const events = await getCalendarEvents()
---

<style>
    table {
        font-family: monospace;
        font-size: 12px;
        width: 100%;
    }
    table,
    th,
    td {
        border: 1px solid #fff;
        border-collapse: collapse;
    }
    th,
    td {
        padding: 8px 16px;
    }
</style>

<AdminLayout>
    <table>
        <tr><th>Title</th><th>Date</th><th>Time</th><th>Status</th><th></th></tr
        >
        {
            events.map((event) => {
                return (
                    <tr>
                        <>
                            <td>{event.summary}</td>
                            <td>{formatDate(event.startTime)}</td>
                            <td>
                                {formatTimeRange(
                                    event.startTime,
                                    event.endTime,
                                )}
                            </td>
                            <td>Unscheduled</td>
                            <td>
                                <a
                                    href={`/admin/upload-show?event-id=${event.id}`}
                                >
                                    Upload Show
                                </a>
                            </td>
                        </>
                    </tr>
                )
            })
        }
    </table>
</AdminLayout>
